.userHeader {

    height: 100px;

    a {
        color: #788689;    
        font-weight: bold; 
    }

    a:hover {
        color: white;
    }

    .navHeader {
        padding-top: 60px;
    }
    
}