$color-fondo: rgba(208, 208, 208, 0.35);

    @mixin userContainer {
        width: 70%;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @mixin pull-right {
        text-align: right;
    }
