@import './src/app/shared/variables';

.userContainer {
    @include userContainer();
}

.pull-right {
    @include pull-right();
}

.input-group-prepend {
    span {
        width: 170px;
    }
}

.fixColorInput {
    background-color: white;
    cursor: pointer;
}